/* FONT */
@font-face {
  src: url(fonts/CircularStd-Book.otf);
  font-family: circular;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: circular, sans-serif;
  background-color: #fff;
  color: #2b2928;
  overscroll-behavior: none;
  max-width: 1440px;
  overflow-x: hidden;
}

/* HEADER */

#styled-header {
  height: 73vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  padding-top: 2rem;
}

.logo {
  margin-right: 9rem;
}

.header-menu {
  position: absolute;
  right: 0px;
  height: 100%;
  top: 15vh;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b2928;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
}

.header-menu-item {
  text-decoration: none;
  font-size: 0.8rem;
  color: #efefef;
}

.header-menu-fold {
  cursor: pointer;
}

.header-menu-fold div {
  width: 30px;
  height: 3.5px;
  background-color: #2b2928;
  margin: 5px;
}

.menu-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.header-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-top: 5.5rem;
  width: 50%;
  margin-left: 3rem;
}

.header-subtitle {
  font-size: 0.85rem;
  margin-top: 1rem;
  margin-left: 3rem;
}

/* BODY */

.projects-title {
  font-size: 1.75rem;
  margin-top: 1.7rem;
  margin-left: 3rem;
  font-weight: 500;
}
